# Enable strict-peer-dependencies
strict-peer-dependencies=false

# Use node-linker=hoisted for compatibility with Next.js
node-linker=hoisted

# Enable workspace feature
link-workspace-packages=true

# Prevent pnpm from adding the "workspace:" prefix to local dependencies
save-workspace-protocol=false

# Prevent pnpm from creating .pnpm-debug.log files
loglevel=error
